<html>
  <head>
    <title>Hola Express</title>
  </head>
  <body>
    {{{body}}}
    <div class="footer">
      Saludador© 2016 Todos los derechos reservados por acámica
    </div>
  </body>
</html>
